<li>
	{{#if checked}}
	<div class="checkedOff">{{_name}}</div>
	{{!-- <button class="check" data-id="{{id}}" data-checked="{{checked}}" data-checked_by="{{checked_by}}">
		*uncheck*
	</button> --}}
	{{else}}
	<div class="need">{{_name}}</div>
	{{!-- <button class="check" data-id="{{id}}" data-checked="{{checked}}" data-checked_by="{{checked_by}}">
		*check*</button> --}}
	{{/if}}
</li>