<h1>Your Lists</h1>

<h2>Your Wish Lists</h2>
<ul>
    {{#each lists}}
    <li>
        <p>
            {{this.id}}. {{this.list}}
            <button data-listid="{{this.id}}" class="delwishlist">Delete</button>
        </p>
    </li>
    {{/each}}
</ul>

<form id="addlist" class="button-size">
    <textarea type="text" name="list"></textarea>
    <button type="submit">Add New List!</button>
</form>

<h2>List of Subscriptions</h2>

<ul>
    {{#each lists}}
    <li>
        <p>
            {{this.id}}. {{this.list}}
            <button data-listid="{{this.id}}" class="delsubscriptionlist">Delete</button>
        </p>
    </li>
    {{/each}}
</ul>

<script type="text/javascript">
    $(".delwishlist").on("click", function (event) {
        var id = $(this).data("listid");
        // Send the DELETE request.
        $.ajax("/list/" + id, {
            type: "DELETE"
        }).then(
            function () {
                console.log("deleted id ", id);
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    $("#addlist").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        var newlist = {
            list: $("#addlist [name=list]").val().trim()
        };

        // Send the POST request.
        $.ajax("/lists", {
            type: "POST",
            data: newlist
        }).then(
            function () {
                console.log("added new list");
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    );
</script>