<li>
	{{_name}}
	<button class="check" data-id="{{id}}" data-checked="{{checked}}" data-checked_by="{{checked_by}}">
		{{#if checked}}*uncheck*grab checked by from data-checked_by{{else}}*check*{{/if}}
	</button>
</li>

