<li>
	{{_name}}
	<button class="check" data-id="{{id}}" data-checked="{{checked}}" data-checked_by="{{checked_by}}">
		{{#if checked}}checked by={{checked_by}} *uncheck*{{else}}*check*{{/if}}
	</button>
</li>

